<div class="s-related">
  <div class="s-related__head">
    <h4 class="s-related__title">Организаторы</h4>
  </div>
  <div class="s-related__body">
    <app-tabs theme="2">
      <app-tabs-tab tabTitle="Sure.">
        <section class="mxn-section mxn-section_pad-1 mxn-section_theme-1">
          <div class="gifts__wrap">
            <div class="gifts__row">
              <div class="gifts__col gifts__col_text">
                <div class="c-titles">
                  <div class="c-titles__head">
                    <h3 class="c-titles__title">Sure.</h3>
                  </div>
                  <div class="c-titles__body">
                    <div class="c-titles__body-item">
                      <a href="" class="c-titles__link">sure.so</a>
                    </div>
                    <div class="c-titles__body-item">
                      <app-social></app-social>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gifts__col gifts__col_content">
                <article class="person">
                  <div class="person__head">
                    <div class="person__about">
                      <p>
                        Новая фандрайзинговая платформа для армянских некоммерческих организаций - Sure. Это систематизированный, эффективный и прозрачный инструмент для совершения пожертвований. Основная цель проекта - создать новую культуру индивидуальной филантропии, заменив единоразовые пожертвования более системной и последовательной поддержкой на постоянной основе. Платформа дает возможность организациям рассказывать аудитории о своих целях, миссии, достижениях и актуальных проектах, а пользователям - легко, быстро и удобно жертвовать деньги на поддержку процветания Армении.
                      </p>
                    </div>
                  </div>
                  <div class="person__body">
                    <div class="person__body-item">
                      <div class="person__ava" style="background-image: url('http://placekitten.com/300/500');"></div>
                    </div>
                    <div class="person__body-item">
                      <div class="person__info">
                        <div class="person__info-head">
                          <h5 class="person__info-title">
                            Сурен Тер-Овсепян
                          </h5>
                          <h6 class="person__info-title person__info-title_sub">
                            CEO, Founder
                          </h6>
                        </div>
                        <div class="person__info-body">
                          <div class="person__about">
                            <p>
                              With more than 25 years of experience and a proven track record, we work to build a prosperous and healthy future for everyone, powered by clean, reliable, and secure sources of energy.
                            </p>
                            <p>
                              A thriving clean energy industry will help grow the economy, offer workers good jobs in viable industries, strengthen national security, and keep our air and water clean and healthy—for today’s children and future generations.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </app-tabs-tab>
    </app-tabs>
  </div>
</div>
