<app-main-layout>
  <article class="project project_page project_theme-1">
    <div class="project__image project__image_project">
      <!--[style.background-image]="'url(http://placekitten.com/1680/1050)'"-->
      <div class="project__image-image project__image-image_theme-2"
           [style.background-image]="'url(' + 'http://placekitten.com/1680/1050' + ')'">
      </div>
      <div class="project__image-content">

      </div>
    </div>
    <div class="project__body project__body_project">
      <div class="article">
        <div class="article__section">
          <div class="mxn-container">
            <app-gifts></app-gifts>
          </div>
        </div>

        <div class="article__section">
          <div class="mxn-container">
            <app-events></app-events>
          </div>
        </div>

        <div class="article__section">
          <div class="mxn-container">
            <app-sponsors></app-sponsors>
          </div>
        </div>

        <div class="article__section">
          <div class="mxn-container">
            <app-how></app-how>
          </div>
        </div>


<!--        <section class="article__section">-->
<!--          <h4 class="article__section-title article__section-title_mb-3">-->
<!--            Благотворительный новогодний киноконцерт для детей Арцаха-->
<!--          </h4>-->
<!--          <div class="article__section-row">-->
<!--            <div class="article__logos">-->
<!--              <div class="article__logos-item" *ngFor="let item of logos">-->
<!--                <img [src]="item.src" [alt]="item.alt" class="article__logos-img {{item.classes}}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="article__section-row">-->
<!--            <div class="article__text">-->
<!--              <h4 class="article__text-title">Наша миссия</h4>-->
<!--              <p class="article__text-p">-->
<!--                With more than 25 years of experience and a proven track record, we work to build a prosperous and healthy future for everyone, powered by clean, reliable, and secure sources of energy. A thriving clean energy industry will help grow the economy, offer workers good jobs in viable industries, strengthen national security.-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </section>-->
      </div>
    </div>
  </article>
</app-main-layout>
