.g-list
  &__row
    & + &
      margin-top: 20px
      padding-top: 20px
      border-top: 1px solid #EDEDED

+min_large_2()
  .g-list
    &__row
      & + &
        margin-top: 40px
        padding-top: 40px
