.how
  &__img
    display: block
    max-width 100%
    height: auto
    margin: 0 auto

+min_extra_small()
  .how
    &__img
      &_mobile
        max-width 336px

+desktop()
  .how
    width: 100%
