.project-people
  &__title
    margin-bottom: 12px
    font-size: 14px
    font-weight: 700
    line-height: 1
    color: $cBl-6-5

  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: -12px

  &__item
    margin: 0 11px 12px 0
    mLast('right')

  &__img
    display: block
    width: 34px
    height: 34px
    border-radius: 100%
    box-shadow: 0 12px 24px 0 $cBl-6-shadow-1

  &__value
    display: block
    padding: 10px 15px
    border-radius: 63px
    box-shadow: 0 12px 24px 0 $cBl-6-shadow-1;
    font-size: 14px
    line-height: 1
    font-weight: 700
    background: $cBl-3-12
    color: $cBl-3-9
