.project-status
  &__wrap
    padding: 16px 22px
    border-radius: 4px
    font-size: 14px
    letter-spacing: 0.08px
    background-color: $cBl-3-27
  &__flex
    display: flex
    align-items: center
    justify-content: space-between
  &__text-row
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
  &__text
    max-width: 460px
  &__title
    font-size: 24px
    letter-spacing: -0.13px
