.project
  padding-bottom: 30px

  &__image
    position: relative
    z-index: 1
    display: flex
    flex-direction column
    min-height: 80vh

    &-image
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 100%
      z-index: 1
      overflow: hidden
      background-repeat: no-repeat
      background-size: cover
      background-position: center top
      //filter: blur(4px)

      &:before
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0

      &_theme-1
        &:before
          background-image: $cBl-4-gradient-1

      &_theme-2
        &:before
          background-image: $cBl-4-gradient-2

    &-content
      position: relative
      z-index: 2

  &__body
    position: relative
    z-index: 2

+desktop()
  .project
    &__image
      //padding: 112px $sideGap_d 10vh
      justify-content flex-end
      &_project
        padding: 110px $sideGap_d 176px
      &_fund
        padding: 85px $sideGap_d 50px

    &__heading
      &_fund
        margin-bottom: 30px
      &_project
        margin-bottom: 66px
      &-row
        &_mb-1
          margin-bottom: 22px

    &__project-title
      font-size: 45px
      letter-spacing: -0.3px

    &__fund-title
      font-size: 60px
      letter-spacing: -.5px

    &__sub-title
      font-size: 20px

    &__body
      padding: 0 $sideGap_d
      &_project
        top: -126px
        margin-bottom: -126px
      &_fund
        top: -30px
        margin-bottom: -30px

    &__footer
      padding: 0 $sideGap_d
      margin-top: 70px

+mobile()
  .project
    &__image
      //padding: 85px 0 10vh
      //justify-content center
      //min-height: 60vh

      &_project
        padding: 40px $sideGap 256px
      &_fund
        padding: 85px 0 50px

    &__body
      top: -228px
      margin-bottom: -228px
    &__footer
      margin-top: 35px

    &__heading
      margin-bottom: 25px
      &-row
        &_fund
          padding-left: $sideGap
        &_head
          padding: 0 $sideGap
          display: flex

    &__project-title
      font-size: 24px

    &__fund-title
      font-size: 46px
      max-width: 360px

    &__title
      &-item
        &_title
          flex: 1 0 72%
          padding-right: 15px

    &__logo
      display: block
      max-width: 100%
      height: auto
      max-height: 110px

+ultra_small()
  //&__project-title
  //  font-size: 22px
  .project
    &__body
      padding: 0
    &__fund-title
      font-size: 42px
