.raised
  white-space nowrap

  &__item
    &-head
      margin-bottom: 2px

    &-title
      opacity: .3
      will-change: unset;

  &__table
    &-value
      font-size: 30px
      &_c-1
        color: $c-3

  &__footer
    margin-top: 20px

  &__partner
    font-size: 24px
    color: #F79E1B

    &-value
      & > svg
        vertical-align: bottom
        //margin-left: 8px

+large_2()
  .raised
    font-size: 14px

    &__item
      & + &
        margin: 16px 0 0 0

+min_large_2()
  .raised
    font-size: 20px

    &__items
      display: flex
      //align-items flex-end
      margin-left: -26px
      margin-right: -26px
      font-size: 20px

    &__item
      width: calc(100% / 4 - 26px)
      margin: 0 26px

      &-head
        margin-bottom: 10px

    &__table
      &-value
        font-size: 36px

    &__partner
      font-size: 28px

      &-value
        & > svg
          height: 44px
          width: auto

    &__footer
      margin-top: 50px
