.social
  display: flex
  align-items center
  line-height: 1
  font-size: 0

  &__item
    & + &
      margin-left: 20px

  &__link
    & > svg
      width: auto
      height: 24px

    &_vk
      & > svg
        height: 21px
