.v-btn
  &:not(.f-active)
    .c-4
      color: inherit
  &.f-active
    .v-btn__btn-text
      color: $c-3

    .v-btn__text-mark
      color: $c-3

  &__items
    display: flex
    align-items center

  &__btn-text, &__text-mark
    transition color $sFast ease-in-out

  &__btn-text
    color: #B5B5B5

  &__item
    & + &
      margin-left: 14px

  &__footer
    margin-top: 12px

  &__text
    color: #B5B5B5

+min_large_2()
  .v-btn
    font-size: 20px

    &__footer
      margin-top: 20px
