@font-face {
  font-family: 'Big Caslon';
  src: url('/assets/fonts/BigCaslon-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Baskerville';
  src: url('/assets/fonts/Baskerville.ttc') format('truetype');
  font-weight: 400;
}
