.skin-light
  .b-cart
    color: $cBl-4-1
    &_theme-fund
      &:before
        background: $cBl-4-gradient-2
.skin-dark
  .project
    &-people
      &__title
        color: #fff
    &__image
      color: #fff
      &-image
        &:before
          background-image: $cBl-4-gradient-1
  .header
    &__userpic
      .svg-ref
        fill: #fff
  .nav
    &__link
      color: rgba(255, 255, 255, 0.93)
      &:hover
        color: $cBl-3-3
  .b-cart
    color: $cBl-4-3
    &_theme-fund
      &:before
        background: $cBl-4-gradient-1
    &__sub-text
      color: $cBl-4-4
