$w_init_d = 1440px
$w_max_page_width = 1440px
$w_m = 991px
$w_d = $w_m + 1
$w_ultra_small = 374px
$w_extra_small = 575px
$w_small = 767px
//$w_medium = 991px
$w_medium = 1000px
$w_large = 1119px
$w_large-2 = 1399px;
//$w_extra_large = 1680px
$w_min_large = $w_large + 1
$w_min_large-2 = 1400px
//$w_min_extra_large-2 = 1600px
//$w_min_large = $w_medium + 1
//$w_min_large-2 = 1120px
//$w_min_medium = $w_small + 1

//$w_min_medium-2 = 1100px
//$w_min_small = $w_extra_small + 1
//$w_min_small-2 = 650px

//$h_min_medium = 812px

// Extra small devices (portrait phones, less than 576px)
//@media (max-width: 575.98px) { ... }
//
//// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) { ... }
//
//// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) { ... }
//
//// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) { ... }

$zHeader = 100
$zCartPanel = 200
$zPopup = 300
$zGlobalLoader = 1000000

$hCartPanel_m = 160px

$sideGap = 19px
$sideGap_d = 85px

$sFast = .2s
$sMiddle = .4s
$sSlow = .8s

$ff-1 = 'Helvetica Neue', Arial, sans-serif
$ff-2 = 'Big Caslon', 'Times New Roman', sans-serif
$ff-3 = 'Baskerville', 'Helvetica Neue', Arial, sans-serif


$c-1 = #fff
$c-2 = #090909
$c-3 = #ff3838
$c-4 = #F79E1B
$c-main-bg = #fff

$cBl-1-1 = rgba(0, 0, 0, 0.53);
$cBl-1-2 = rgba(0, 0, 0, 0.4);
$cBl-1-3 = rgba(0, 0, 0, 0.45);
$cBl-1-4 = #ff3838;
$cBl-1-5 = #000;
$cBl-1-6 = #fff;

$cBl-2-1 = rgba(0, 0, 0, 0.34);
$cBl-2-2 = rgba(0, 0, 0, 0.15);
$cBl-2-3 = #ff3838;

$cBl-3-1 = rgba(9, 9, 9, 0.48);
$cBl-3-2 = #090909;
$cBl-3-3 = #ff3838;
$cBl-3-4 = #fff;
$cBl-3-5 = rgba(9, 9, 9, 0.2);
$cBl-3-6 = rgba(9, 9, 9, 0.3);
$cBl-3-7 = rgba(216, 216, 216, 0.47);
$cBl-3-8 = #888888;
$cBl-3-9 = #0473dc;
$cBl-3-10 = rgba(9, 9, 9, 0.1);
$cBl-3-11 = rgba(0, 0, 0, 0.3);
$cBl-3-12 = #fff;
$cBl-3-13 = rgba(151, 151, 151, 0.32);
$cBl-3-14 = #F6F6F6;
$cBl-3-15 = #9e9e9e;
$cBl-3-16 = rgba(255, 56, 56, 0.3);
$cBl-3-17 = #000;
$cBl-3-18 = rgba(0, 0, 0, 0.25);
$cBl-3-19 = #8e8e8e;
$cBl-3-20 = rgba(9, 9, 9, 0.7);
$cBl-3-21 = rgba(9, 9, 9, 0.34);
$cBl-3-22 = rgba(2, 2, 2, 0.6);
$cBl-3-23 = rgba(9, 9, 9, 0.5);
$cBl-3-24 = rgba(240, 240, 240, 0.6);
$cBl-3-25 = #C4C4C4;
$cBl-3-26 = rgba(0, 0, 0, 0.2);
$cBl-3-27 = rgba(0, 0, 0, 0.12);
$cBl-3-28 = #f5f5f5;
$cBl-3-29 = rgba(0, 0, 0, 0.1);
$cBl-3-30 = #E6E6E6
$cBl-3-31 = rgba(0, 0, 0, 0.37);
$cBl-3-32 = #b1b1b1;
$cBl-3-34 = #dddddd;
$cBl-3-35 = #da3333;
$cBl-3-36 = #d8d8d8;
$cBl-3-37 = #0358a9;
$cBl-3-shadow-1 = rgba(0, 0, 0, 0.15);
$cBl-3-shadow-2 = rgba(255, 56, 56, 0.28);
$cBl-3-shadow-3 = rgba(0, 0, 0, 0.49);
$cBl-3-shadow-4 = rgba(0, 0, 0, 0.21);

$cBl-4-1 = #000;
$cBl-4-2 = rgba(0, 0, 0, .7);
$cBl-4-3 = #fff;
$cBl-4-4 = rgba(255, 255, 255, .7);
$cBl-4-gradient-1 = linear-gradient(to bottom, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0));
$cBl-4-gradient-2 = linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
$cBl-4-gradient-3 = linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

$cBl-5-1 = rgba(9, 9, 9, 0.97);
$cBl-5-2 = rgba(0, 0, 0, 0.8);
$cBl-5-3 = rgba(9, 9, 9, 0.55);
$cBl-5-4 = #fff;
$cBl-5-5 = rgba(0, 0, 0, 0.34);
$cBl-5-shadow-1 = rgba(0, 0, 0, 0.15);

// article
$cBl-6-1 = #fff
$cBl-6-2 = #090909
$cBl-6-3 = #ff3838
$cBl-6-4 = rgba(9, 9, 9, 0.4)
$cBl-6-5 = rgba(9, 9, 9, 0.3)
$cBl-6-shadow-1 = rgba(0, 0, 0, 0.15)
$cBl-6-shadow-2 = rgba(0, 0, 0, 0.05)

$c-btn-1-theme-1-bg = #bda776;
$c-btn-1-theme-1-bg-hover = #9a875d
$c-btn-1-theme-1-bg-click = #7e6e4b

