<form
  *ngIf="personalData"
  #form="ngForm" (ngSubmit)="onSubmit()"
  class="mxn-section mxn-section_mb-1 mxn-section_pad-1 mxn-section_theme-1">
  <div class="mxn-section-head mxn-section-head_mb-1">
    <div class="mxn-section-head-row mxn-section-head-row_mb-1">
      <h4 class="mxn-title mxn-title_sz-1">{{'PersonalTitle' | translate}}</h4>
    </div>
  </div>
  <div class="cart__section-body">
    <div class="b-inputs">
      <div class="b-inputs__body">
        <div class="b-inputs__body-row">
          <div class="b-inputs__inputs">
            <div class="b-inputs__row">
              <div class="b-inputs__input-wrap">
                <!--                <app-floating-input-label [name]="'PersonalData.firstName' | translate"-->
                <!--                                          [value]="personalData.firstName"></app-floating-input-label>-->
                <input type="text"
                       [(ngModel)]="personalData.firstName"
                       required
                       autocomplete="off"
                       name="firstName"
                       appNativeElementControl
                       placeholder="{{'PersonalData.firstName' | translate}}"
                       class="mxn-i-txt mxn-i-txt_theme-1 mxn-i-txt_full-width profile__input">
              </div>
            </div>
            <div class="b-inputs__row">
              <div class="b-inputs__input-wrap">
                <!--                <app-floating-input-label [name]="'PersonalData.phoneNumber' | translate"-->
                <!--                                          [value]="personalData.phoneNumber"></app-floating-input-label>-->
                <input type="tel"
                       [(ngModel)]="personalData.phoneNumber"
                       required
                       autocomplete="off"
                       name="phoneNumber"
                       appNativeElementControl
                       placeholder="{{'PersonalData.phoneNumber' | translate}}"
                       class="mxn-i-txt mxn-i-txt_theme-1 mxn-i-txt_full-width profile__input">
              </div>
            </div>
            <div class="b-inputs__row">
              <div class="b-inputs__input-wrap">
                <!--                <app-floating-input-label [name]="'PersonalData.email' | translate"-->
                <!--                                          [value]="personalData.email"></app-floating-input-label>-->
                <input type="email" email
                       [(ngModel)]="personalData.email"
                       required
                       autocomplete="off"
                       name="email"
                       appNativeElementControl
                       placeholder="{{'PersonalData.email' | translate}}"
                       class="mxn-i-txt mxn-i-txt_theme-1 mxn-i-txt_full-width profile__input">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="b-inputs__footer" *ngIf="!form.valid && formError">-->
      <!--        <app-status-message [formError]="formError"></app-status-message>-->
      <!--      </div>-->
      <div class="b-inputs__footer">
        <div class="b-inputs__footer-row">
          <div class="mxn-text-check">
            <label class="mxn-i-check mxn-i-check_theme-1">
              <input type="checkbox"
                     [(ngModel)]="personalData.agreement"
                     required
                     name="agreement" id="agreement-checkbox"
                     class="mxn-i-hidden mxn-i-check-input">
              <span class="mxn-i-check-fake mxn-i-check-fake_theme-1">
                  <span class="mxn-i-check-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 16 12">
                        <path fill="#FFF" fill-rule="nonzero"
                              d="M2.38 3.755L.62 5.53l6.043 5.982 9.38-9.38L14.273.367l-7.62 7.62z"/>
                    </svg>
                    <!--                      <app-svg-ref uuid="i-check" width="16" height="12"></app-svg-ref>-->
                  </span>
                </span>
            </label>
            <label for="agreement-checkbox" class="mxn-text-check-text mxn-text-check-text_ml-1">
              {{'OfferText1' | translate}} <span class="mxn-link" (click)="doc.openPopup('gift_offer')">
                  {{'OfferText2' | translate}}
                </span>
            </label>
          </div>
        </div>
        <div class="b-inputs__footer-row">
          <div class="b-inputs__buttons">
            <!--           | payment_method_filter-->
            <ng-template ngFor [ngForOf]="paymentMethods | payment_method_filter" let-p>
              <div class="b-inputs__buttons-item">
                <app-applepay-button
                  *ngIf="p.type === 'applepay'"
                  [client]="personalData"
                  [pm]="p"
                  [total_cost]="cart.total_cost"
                  [disabled]="cart.syncing || cart.total_cost === 0">
                </app-applepay-button>

                <app-gpay-button
                  *ngIf="p.type === 'gpay'"
                  [client]="personalData"
                  [pm]="p"
                  [total_cost]="cart.total_cost"
                  [disabled]="cart.syncing || cart.total_cost === 0">
                </app-gpay-button>

                <button type="submit"
                        *ngIf="p.type === 'common'"
                        [disabled]="cart.syncing || cart.total_cost === 0"
                        [ngClass]="{
                        'f-disabled': form.invalid
                      }"
                        class="mxn-btn mxn-btn_sz-4 mxn-btn_theme-5 mxn-btn_full-width mxn-btn_ta-c">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27">
                    <path fill="#000" fill-rule="nonzero"
                          d="M2.91.39C1.704.39.732 1.362.732 2.57v2.808h39.23V2.569c0-1.207-.971-2.18-2.179-2.18H2.911zM.732 9.562V24.75c0 1.207.972 2.18 2.18 2.18h34.871a2.178 2.178 0 0 0 2.18-2.18V9.562H.732z"/>
                  </svg>
                  {{p.name | multilang}}
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
