.mxn-circle
  display: inline-flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  border-radius: 100%

  &_theme-1
    font-size: 17px
    line-height: 1
    font-weight: 400
    background: $c-3
    color: $c-1
