.mxn-section
  &_pad-1
    padding: 20px

  &_mb-1
    margin-bottom: 24px
    mLast('bottom')

  &_theme-1
    box-shadow: 0 12px 24px 0 $cBl-6-shadow-1
    background-color: $cBl-6-1
    border-radius: 8px

  &-head
    &_mb-1
      margin-bottom: 40px
    &_mb-2
      margin-bottom: 22px
    &-row
      &_mb-1
        margin-bottom: 11px
      &:last-child
        margin-bottom: 0

+mobile()
  .mxn-section
    &-head
      &_mb-1
        margin-bottom: 21px
+desktop()
  .mxn-section
    &_pad-1
      padding: 40px
