.mxn-text
  &_sz-1
    font-size: 12px
    letter-spacing: -0.07px
  &_sz-2
    font-size: 14px
    letter-spacing: -0.08px
  &_sz-3
    font-size: 16px
    letter-spacing: -0.09px
  &_sz-4, &_sz-5
    font-size: 20px
    letter-spacing: -0.2px
  &_ff-2
    font-family: $ff-2
    font-weight: 500
  &_theme-1
    color: $cBl-3-5
  &_theme-2
    color: $cBl-3-6
  &_theme-3
    color: $cBl-1-2
  &_theme-4
    color: $cBl-3-3
  &_theme-5
    color: $cBl-3-11

.mxn-title
  &_sz-1
    font-size: 24px
    letter-spacing: -0.13px
  &_sz-2
    font-size: 34px
    letter-spacing: -0.15px
  &_sz-3
    font-size: 34px
    letter-spacing: -0.15px
  &_sz-4
    font-size: 36px
    letter-spacing: -0.09px
  &_theme-1
    color: $cBl-3-5
  &_theme-2
    color: $cBl-3-3

.w-copyright
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: rgba(9, 9, 9, .3);
  &-link
    color: #ff3838;

+desktop()
  .mxn-text
    &_sz-5
      font-size: 24px
      letter-spacing: -0.13px

+min_large_2()
  .mxn-title
    &_sz-2
      font-size: 45px
      letter-spacing: -0.25px
    &_sz-3
      font-size: 42px
      letter-spacing: -0.23px
